@{
    ViewBag.Title = "About";
}

<br />
<h2>Overwatch Maker</h2>
<h3>Where imagination is your only limit</h3>

<p>Simply create new weapons, abilities and heros, as well as edit and delete them.</p>
