@{
    ViewBag.Title = "Home Page";
}

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/SlideShowImages/ow1.jpg" alt=".">
                <div class="carousel-caption">
                    Reaper | DPS | Damage
                </div>
            </div>
            <div class="item">
                <img src="~/Content/SlideShowImages/ow2.jpg" alt=".">
                <div class="carousel-caption">
                    Ana | Support | Heal
                </div>
            </div>
            <div class="item">
                <img src="~/Content/SlideShowImages/ow3.jpg" alt=".">
                <div class="carousel-caption">
                    Hammond | Tank | Wrecking Ball
                </div>
            </div>
            <div class="item">
                <img src="~/Content/SlideShowImages/ow4.jpg" alt=".">
                <div class="carousel-caption">
                    Sombra | DPS | Hack
                </div>
            </div>
            <div class="item">
                <img src="~/Content/SlideShowImages/ow5.jpg" alt=".">
                <div class="carousel-caption">
                    Ana | Support | Heal
                </div>
            </div>
            <div class="item">
                <img src="~/Content/SlideShowImages/ow6.jpg" alt=".">
                <div class="carousel-caption">
                    Hammond | Tank | Wrecking Ball
                </div>
            </div>
            <div class="item">
                <img src="~/Content/SlideShowImages/ow7.jpg" alt=".">
                <div class="carousel-caption">
                    Sombra | DPS | Hack
                </div>
            </div>


        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Weapons</h2>
            <p>
                Explore, Create or Delete Weapons for Heroes.
            </p>
            <p>@Html.ActionLink("Learn More", "Index", "Weapons", new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4">
            <h2>Heroes</h2>
            <p>
                Explore, Create or Delete Heroes.
            </p>
            <p>@Html.ActionLink("Learn More", "Index", "Heroes", new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4">
            <h2>Abilities</h2>
            <p>
                Explore, Create or Delete Abilities for Heroes.
            </p>
            <p>@Html.ActionLink("Learn More", "Index", "Abilities", new { @class = "btn btn-default" })</p>
        </div>
    </div>